<% img_link="http://ebmedia.eventbrite.com/s3-build/images/2114527/37120493192/1/logo.png" %>
<% lorem="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a placerat tortor. Sed venenatis mauris venenatis tellus pellentesque bibendum. Mauris consequat feugiat purus, non fermentum tellus rutrum." %>
<% img_link2="http://scm-l3.technorati.com/12/12/13/73853/devbootcamp.png?t=20121213131231" %>


<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DBC Leaks</title>
	<link href="/bootstrap.css" type="text/css" rel="stylesheet">
	<link href="/tumblr.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container">
	    <a href="#" class="navbar-brand">DBC Leaks</a>
	  </div>
	</nav>

	<%3.times do%>
	<%puts "xxx"%>
	<%end%>
	
	<ul class="tumblr">
		<li><div class="image_container"><img src=<%= img_link %>></div><p><%= lorem %></p></li>
		<li><div class="image_container"><img src=<%= img_link2 %>></div><p><%= lorem %></p></li>
		<li><div class="image_container"><img src=<%= img_link %>></div><p><%= lorem %></p></li>
		<li><div class="image_container"><img src=<%= img_link2 %>></div><p><%= lorem %></p></li>
		<li><div class="image_container"><img src=<%= img_link %>></div><p><%= lorem %></p></li>
		<li><div class="image_container"><img src=<%= img_link2 %>></div><p><%= lorem %></p></li>
		<li><div class="image_container"><img src=<%= img_link %>></div><p><%= lorem %></p></li>
		<li><div class="image_container"><img src=<%= img_link2 %>></div><p><%= lorem %></p></li>

	</ul>


</body>
</html>